body{
	font-family: 'Press Start 2P', cursive;
	margin: 0;
	line-height: 25px;
}

header{
	background-color: #D35F5F;
	border: 3px solid white;
	padding: 20px;
	text-align: center;
}

header img{
	border-radius: 150px;
}

header h1{
	color: white;
}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

h2{
	color: black;
	font-size: 30px;
	padding: 25px;
}

main{
	padding: 50px 20px;
	text-align: center;
}
main img{
	max-width: 100%;
}

p{
	font-size: 10px;
}

a:hover{
	color: darkred;
}

footer{
	background-color: lightgray;
}

p.caption{
	color: brown;
	font-style: italic;
}